/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* 🎨 GLOBAL STYLES (Strict Base16)                               */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */

* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font", "JetBrains Mono", monospace;
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
  color: @base05;
}

window#waybar {
  background: @base00;
}

/* ----------------------------------------------------------------------- */
/* 🗄️ WORKSPACES                                                          */
/* ----------------------------------------------------------------------- */
#workspaces button label {
  color: @base05;
  padding: 0 10px;
}

#workspaces button.active label {
  color: @base00;
}

#workspaces button.active {
  background: @base0D;
}

#workspaces button:hover {
  background: @base02;
}

/* ----------------------------------------------------------------------- */
/* 🧩 RIGHT-SIDE MODULES                                                   */
/* ----------------------------------------------------------------------- */
#clock,
#battery,
#pulseaudio,
#tray,
#language,
#custom-weather {
  padding: 0 15px;
  margin: 0;
  background-color: @base00;
}


#language {
  border-bottom: 3px solid @base09;
}

#custom-weather {
  border-bottom: 3px solid @base0C;
}

#pulseaudio {
  border-bottom: 3px solid @base0D;
}

#pulseaudio.muted {
  border-bottom: 3px solid @base08;
}

#battery {
  border-bottom: 3px solid @base0A;
}

#battery.charging {
  border-bottom: 3px solid @base0B;
}

#battery.warning {
  color: @base09;
  border-bottom: 3px solid @base09;
}

#battery.critical {
  color: @base08;
  border-bottom: 3px solid @base08;
}

#clock {
  border-bottom: 3px solid @base0E;
}

#tray {
  border-bottom: 3px solid @base0F;
}