/* ----------------------------------------------------------------------- */
/* 🎨 Styling                       */
/* The errors about undefined variables are fake. They are defined below. */
/* ----------------------------------------------------------------------- */


* {
  font-family: 'JetBrainsMono Nerd Font', monospace;
  font-weight: bold;
  font-size: 20px;
  /* Increased from 14px */
}

/* Main Window */
window {
  margin: 0px;
  padding: 15px;
  border: 3px solid @accent;
  /* 🟢 Generic Variable */
  border-radius: 12px;
  background-color: @window_bg;
  /* 🟢 Generic Variable */
  animation: slideIn 0.5s ease-in-out both;
}


/* Inner/Outer Boxes */
#inner-box,
#outer-box,
#scroll {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @window_bg;
}

/* Search Bar */
#input {
  margin: 10px 30px;
  /* Increased margins */
  padding: 15px;
  /* Increased padding for bigger text */
  border-radius: 12px;
  color: @text_color;
  background-color: @input_bg;
  animation: fadeIn 0.5s ease-in-out both;
}

/* Hide Search Icon */
#input image {
  border: none;
  color: @accent;
}

/* List Items */
#text {
  margin: 8px;
  border: none;
  color: @text_color;
}

#entry {
  background-color: @window_bg;
  padding: 8px;
  /* Increased from 5px */
  border-radius: 8px;
}

/* Selected Entry */
#entry:selected {
  background-color: @selected_bg;
  border: 1px solid @accent;
  outline: none;
}

#entry:selected #text {
  color: @accent;
}

/* Animations */
@keyframes slideIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}